<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
           <rules>
                <clear />
               <rule name="NextJS-API" stopProcessing="true">
                    <match url="^api/.*" />
                    <action type="Rewrite" url="http://localhost:3000/{R:0}" />
                </rule>
                
                <rule name="ASP Redirect" stopProcessing="true">
                    <match url=".asp" />
                    <action type="Redirect" url="http://203.154.56.209{REQUEST_URI}" />
                </rule>

                <rule name="HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>

                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="300-400" />
                </add>
            </traceFailedRequests>
        </tracing>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <iisnode uncFileChangesPollingInterval="5000" />
    </system.webServer>
</configuration>
