.blog-card {
  background-color: #fff;
  /* height: 300px; */
  border-radius: 8px;
  /* border: 1px solid #EEEEEE; */
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
  /* width: 304px; */
  margin-bottom: 2rem;
}
#blog-card a{
  color: #000;
}
.blog-card-img-l::before {
  content: "";
  display: block;
  padding-top: calc(100% / (16 / 9));
}
.blog-card-img-l {
  position: relative;
}
.blog-card-img-m {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog-card-img-s {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.blog-card:hover{
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.blog-card-detail{
padding: .4rem 18px .4rem 18px;
border: 1px solid #EEEEEE;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
.blog-card-date{
  margin: 0;
 color: #c6c6c6;
 font-family: 'Kanit-all';
 font-size: 14px;
}
.blog-card-title{
  margin: .2rem 0 .2rem 0;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5rem;
}
.blog-card-t{
  margin: 0;
  color: #c6c6c6;
  font-size: 16px;
  height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blog-card-like{
  color: #e9c869;
  margin: .4rem 0 .2rem 0;
  width: 20%;
  font-size: 1rem;
  font-weight: 500;
}
.blog-card-icon.fav-none{
  margin-right: .3rem;
}
.blog-card-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.blog-card-t2{
  width: 100%;
  text-align: -webkit-right;
}
.blog-card-btn1{
  background-color: #e9c869;
  border-radius: 14px;
  font-size: .8rem;
  text-align: center;
  color: #fff;
  width: fit-content;
  padding: 2px 12px 2px 12px;
}
.blog-card-btn2{
  background-color: #2153A3 !important;
}
.blog-card-txt{
  margin: 0;
  width: 100%;
  font-weight: 500;
}
.blog-card-ico{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.blog-card-p{
  margin: 0 0 0 0;
  color: #999899;
  font-size: 1rem;
  font-weight: 500;
}
.blog-card-icon.eye ,.blog-card-p.l ,.blog-card-icon.message{
margin-right: 5px;
}
.blog-card.writer{
  border: #E9C869 2px solid;
  padding: 1rem;
}
.blog-card-writer-detail{
  color: #999899;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.blog-card-writer-txt{
  margin: 0;
  font-weight: 500;
}
.blog-card-writer-name{
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.blog-card-writer-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog-card-writer-icon{
  margin-bottom: 16px;
  margin-right: 10px;
}
.blog-card-writer-iconl{
  margin-bottom: 16px;
}
.blog-card-writer-col{
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-card-writer-p{
  color: #999899;
}
.blog-card-writer-img-l{
  background-position: center;
  background-size: cover;
  border: 2px solid #E9c869;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
.blog-card-writer-img{
  text-align: -webkit-center;
  margin-bottom: 18px;
}
.blog-modal{
  width: 100%;
  height: 100vh;
  background-color: #58595B;
  text-align: -webkit-center;
  padding-top: 10vh;
  position: absolute;
  
}

.blog-modal-h{
  width: 100%;
  height: 100vh;
  position: absolute;
}
.blog-modal-l{
  
  height: 60vh;
  background-color: #fff;
  border-radius: .3rem;
}
.blog-modal-header{
  background-color: #E9C869;
  width: 100%;
  flex-direction: row;
  display: flex;
  border-top-left-radius:.3rem ;
  border-top-right-radius: .3rem;
}
.blog-modal-header-l{
  margin:10px ;
  width: 50%;
  font-weight: 500;
  text-align: left;
  padding-left: 1rem;
}
.blog-modal-header-r{
  font-weight: 500;
  margin:10px ;
  width: 50%;
  text-align: right;
  padding-right: 1rem;
}
.blog-modal-footer{
  border-top: 1px #EEEEEE solid;
  border-bottom-left-radius:.3rem ;
  border-bottom-right-radius: .3rem;
  background-color: #fff;
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: center;
}
.blog-modal-body{
  height: 90%;
padding: 1rem;
overflow: auto;
}
.blog-modal-btn{
  background-color: #fff;
  border: #e9c869 2px solid;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
}
.blog-modal-btn:hover{
  background-color: #FBF4E1;
}
button:focus{
  outline: unset;
}
.blog-modal-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 10px 0 10px 0;
}
.blog-modal-item-img{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 2rem;
  background-position: center;
  background-size: cover;
  background-color: #EEEEEE;
}
.blog-modal-item-name{
 color:#555559 ; 
 font-size: 16px;
 font-weight: 300;
}
/* width */
.modal-content ::-webkit-scrollbar {
  width: 8px;
 
}

/* Track */
.modal-content ::-webkit-scrollbar-track {
  background: #f1f1f1; 
 
}
 
/* Handle */
.modal-content ::-webkit-scrollbar-thumb {
  background: #888; 
   border-radius: 8px;
}

/* Handle on hover */
.modal-content ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.blog-banner{
  width: 100%;
}
.blog-banner-txt{
  position: absolute; 
 

}
.blog-banner-btn{
  background-color: #e9c869;
  border: #e9c869 1px solid;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
}
.blog-banner-btn:hover{
  background-color: #c8ac57;
  border: #c8ac57 1px solid;
}
.blog-popular{
  text-align:  center;
}
.blog-popular-col-btn{
 
  text-align: right;
}

.blog-popular-btn{
  background-color: #fff;
  border: #e9c869 2px solid;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
}
.blog-popular-btn:hover{
  background-color: #FBF4E1;
}
.blog-writer-show-txt{
  text-align: center;
}
.blog-writer-show-pop{
  background-color: #FBF4E1;
  margin: 2rem 0 0 0;
  padding: 2rem 0 2rem 0;
}
.blog-writer-show-txt-h{
  margin-bottom: 2rem;
}

.blog-cate .slick-next:before, .blog-cate .slick-prev:before {
  color: #e9c869 !important;

}
.blog-cate a.text-default:hover {
  color: #e9c869 !important;
 
}
.blog-cate button.slick-arrow{
  margin-top: 0;
}
.blog-w-sw .slick-next:before, .blog-w-sw .slick-prev:before {
  color: #e9c869 !important;
}
.blog-w-sw button.slick-arrow {
  background-color: #fff;
}
.blog-card.writer {
  margin: 8px;
  color: #000;
}
.blog-pages-detail-img-l{
  position: relative;
}

.blog-pages-detail-img-l::before{
  content: "";
  display: block;
  padding-top: calc(100% / (16 / 5));
}
.blog-pages-detail-img-m{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog-pages-detail-img-s{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
 
}
.blog-head-detail-card{
  background-color: #fff;
  width: 100%;
  border: 1px #EEEEEE solid;
  border-radius: 8px;
}
.blog-head-detail-card-l{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog-head-detail-card-f{
  background-color: #e9c869 ;
  border: #e9c869 2px solid;
  padding: 0 15px 0 15px;
  border-radius: 8px;
  height: 30px;
  
}
/* .blog-head-detail-card-f:hover{
  background-color: #E9C869;
  color: #fff;
  
} */
.blog-head-detail-card-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
}
.blog-head-detail-card-profile{
  cursor: pointer;
  display: flex;
  align-items: center;
}
.blog-head-detail-card-profile-name{
  margin: 0;
  color: #555559;
}

.blog-head-detail-card-f > .icon-blog-norti-w{
 display: none;
  
}
.blog-head-detail-card-f:hover > .icon-blog-norti-w{
 display: inline;

}
.blog-head-detail-card-f > .icon-blog-norti{
 display: inline;


}
.blog-head-detail-card-f:hover > .icon-blog-norti{
 display: none;
}
.blog-head-detail-card-btn-col{
  text-align: right;
  align-self: center;
}
.blog-head-detail-card-f.active{
  background-color: #EEEEEE;
  color: #999899;
  border: 2px #F8F9FA solid;
  transition: .7s;
}
.blog-head-detail-card-f.active>.icon-blog-norti-w{
 display: none !important;

}
.blog-head-detail-card-f.active>.icon-blog-norti{
 display: none !important;

}
.blog-head-detail-card-icon{
  display: flex;
  align-items: center;
}
.blog-head-detail-card-icon-h{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.blog-detail-story-detail-card-head{
  border: 1px #FBF4E1 solid;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  background-color:#FBF4E1 ;
  text-align: center;
  border-bottom: 0;
}
.blog-detail-story-detail-card-body{
  background-color: #fff;
  border: 1px #EEEEEE solid;
  border-top: 0;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
}
.blog-detail-story-detail-card-body-l{
  padding-left: 12rem;
  padding-right: 12rem;
}
.blog-detail-story-detail-card-btn{
  background-color: #fff;
  border: 2px #e9c869 solid;
  border-radius: 20px;
  padding-left: 15px;
  padding-right:15px;
  transition: .5s;
}
.blog-detail-story-detail-card-btn-b{
  background-color: #fff;
  border: 2px #e9c869 solid;
  border-radius: 8px;
  padding: 5px 30px;
  margin-right: 30px;
}
.blog-detail-story-detail-card-btn-n{
  background-color: #e9c869;
  border: 2px #e9c869 solid;
  border-radius: 8px;
  padding: 5px 30px;

}
.blog-detail-story-detail-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-detail-story-detail-card-btn>.blog-icon-like-y{
  display: none;
}
.blog-detail-story-detail-card-btn.active>.blog-icon-like-y{
  display: inline;
}
.blog-detail-story-detail-card-btn.active>.blog-icon-like{
  display: none;
}
.blog-detail-story-detail-card-btn.active{
  border: 2px #FBF4E1 solid;
  background-color: #FBF4E1;
  transition: .5s;
}
.blog-head-detail-card-btn-ebook{
  border:#21A371 2px solid ;
  /* background-color: #fff; */
  padding: 0 15px 0 15px;
  border-radius: 8px;
  height: 30px;
  background-color: #21A371;
  color: #fff;
}
.blog-head-detail-card-btn-ebook:hover{
  background-color: #1C8A5F;
  border-color:#1C8A5F;
  color: #fff;
}
.blog-head-detail-card-btn-ebook.active{
  background-color: #EEEEEE;
  border: #EEEEEE 2px solid;
  color: #999899;
  transition: .5s;
}
.blog-head-detail-card-btn-ebook>.blog-icon-book-w,.blog-head-detail-card-btn-ebook>.blog-icon-book-g{
  display: none;
}
.blog-head-detail-card-btn-ebook:hover>.blog-icon-book-w{
  display: inline;
}
.blog-head-detail-card-btn-ebook:hover>.blog-icon-book{
  display: none;
}
.blog-head-detail-card-btn-ebook.active>.blog-icon-book-w{
  display: none;
}
.blog-head-detail-card-btn-ebook.active>.blog-icon-book-g{
  display: inline;
}
.blog-head-detail-card-btn-ebook.active>.blog-icon-book{
  display: none !important;
}
.blog-head-detail-card-icon .blog-head-detail-p-txt{
 color: #EEEEEE;
 text-decoration: underline;
}
.blog-head-detail-card-icon-h-prop{
  cursor: pointer;
  display: flex;
}
.blog-head-detail-card-icon-h-prop:hover>.blog-head-detail-p-txt{
  color: #58595B !important;
}
.blog-head-detail-card-icon-h-prop>.blog-head-detail-card-icon-h-alert-b{
  display: none;
}
.blog-head-detail-card-icon-h-prop:hover>.blog-head-detail-card-icon-h-alert-b{
  display: inline;
}
.blog-head-detail-card-icon-h-prop:hover>.blog-head-detail-card-icon-h-alert{
  display: none;
}
.blog-head-writer-pages{
  background-color: #fff;
  border: #EEEEEE 1px solid;
  border-radius: 8px;
}
.blog-head-writer-pages .blog-head-detail-card-profile-img{
  position: absolute;
    bottom: 0;
    left: 40%;
    right: 40%;
  width: 20%;
  height: 140px;
  display: flex;
  justify-content: center;
  /* border-radius: 50%;
  border: #e9c869 2px solid; */
}
.blog-head-writer-pages-name{
  display: flex;
  align-items: center;
  height: 50%;
  justify-content: flex-end;
}
.blog-head-writer-pages-card{
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 10px;
}
.blog-head-writer-pages-folow{
  display: flex;
  height: 50%;
  justify-content: flex-end;
}
.blog-head-writer-pages-folow-color{
  color: #606060;
  cursor: pointer;
}
.blog-head-writer-pages-detail{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}
.blog-head-writer-pages-detail-l{
  display: flex;
}
.blog-head-writer-pages-detail-txt{
 color:#555559 ; 
}
.blog-slide-folow-img{
  width: 80px;
  height: 80px;
  border: #e9c869 2px solid;
  border-radius: 80px;
  background-color: #EEEEEE;
  background-size: cover;
    background-position: center;
  
}
.blog-slide-folow-img-l{
  padding: 10px;
}
.blog-slide-folow .slick-arrow{
  margin: 0;
  
}
.blog-slide-folow .slick-next:before,.blog-slide-folow .slick-prev:before{
  color: #E9C869;
}
.blog-slide-data-div .slick-next:before,.blog-slide-data-div .slick-prev:before{
  color: #E9C869;
}
.blog-slide-data-div button.slick-arrow {
  background-color: #fff;
  margin-top: 0;
}
.blog-slide-folow{
  background-color: #fff;
  padding: 4rem .5rem 4rem .5rem;
  border-top: 1px solid #F8F9FA;
}
.blog-table-contents-head{
 background-color: #FBF4E1; 
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}
.blog-table-contents-head-l{
  display: flex;
  align-items: center;
  padding: .8rem 1rem .8rem 2rem;
}
.blog-table-contents-head-btn{
  border-radius:1rem;
  background-color: #E9C869;
  color: #fff;
  padding: 0 15px 0 15px;
  font-size: .8rem;
}
.blog-table-contents .dropdown-toggle.btn-fill:hover,.blog-table-contents .dropdown-toggle.btn-fill:focus {
  border: 2px solid #E9C869;
}
.blog-table-contents .btn.dropdown-toggle.btn-fill:after {
  content: url(/icon/blog-icon-drop-y.svg);
}
.blog-table-contents-table-head{
  background-color: #58595B;
  color: #fff;
}
.blog-table-contents-table{
  width: 100%;
}
.blog-table-contents-table-tr{
  background-color: #fff;
  border: 1px solid #fff;
}
.blog-table-contents-table td{
   border-bottom: .2rem #f8f9fa solid;
}
.blog-table-contents-table th,.blog-table-contents-table td{
  padding: .9rem;
 
}
.blog-table-contents-table-tr-name{
  width: 30%;
}
.blog-table-contents-table-tr-date{
  width: 20%;
}
.blog-table-contents-table-btn-download{
  background-color: #21A371;
  color: #fff;
  border: 0;
  padding: 3px 15px 3px 15px;
  border-radius: 15px;
  cursor: pointer;
  
}
.blog-table-contents-table-btn-not-download{
  background-color: #21A371;
  color: #fff;
  border: 0;
  padding: 3px 15px 3px 15px;
  border-radius: 15px;
  cursor: pointer;
}
.blog-table-contents-table-btn-download:hover{
  background-color: #1C8A5F;
}
.blog-table-contents-table-tr.last{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.blog-show-product{
  background-color: #fff;
}
.blog-comment-component-head{
  background-color: #FBF4E1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.blog-comment-component textarea{
  width: 100%;
  height: 200px;
  border: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 1rem 2rem;
}
.blog-comment-component textarea:focus{
  outline: unset;
}
.blog-comment-component-head-txt{
  padding-left: 2rem;
}
.blog-comment-component-item{
  background-color: #fff;
  border: #EEEEEE 1px solid;
}
.blog-comment-component-item-img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
}
.blog-comment-component-item-txt-g{
color: #555559;
}
.blog-blogid-blog{
  background-color: #fff;
}
.blog-comment-component-item .blog-head-detail-p-txt{
 color: #EEEEEE;
 text-decoration: underline;
}
.blog-detail-story-detail-card-btn-b:hover{
  background-color: #FBF4E1;
}
.blog-detail-story-detail-card-btn-n:hover{
  background-color: #c8ac57;
  border-color: #c8ac57;
}
.blog-problem-modal .dropdown-item.active{
  background-color: #F7F7F7;
}
.blog-problem-modal .btn-fill{
  text-align: left;
}
.blog-problem-modal .btn-group{
  width: 100%;
}
.blog-home .text-yellow{
  color: #E9C869;
}
.blog-home-banner{
  position: absolute;
  width: 100%;
}
.blog-writer-register-col{
  background-color: #fff;
  border-radius: 8px;
  padding: 3rem 10rem 3rem 10rem;
}
.blog-writer-register .r1{
  padding-left: 9rem;
  padding-right: 9rem;
}
.blog-writer-register .custom-control-label span{
  text-decoration: underline;
  color: #48A9A6;
  padding-left: 2px;
}
.blog-blog-show .carousel-indicators li.active{
  background-color: #E9C869;
}
.blog-blog-show .carousel-inner{
  border-radius: 8px;
}
.blog-tags-show{
  background-color: #EEEEEE;
  color: #999899;
  border-radius: 5px;
  cursor: pointer;
}
.blog-tags-show-d{
  /* height: 2rem; */
}
.blog-tags-show-d-2{
  /* right: 0; */
  flex-flow: wrap;

}
.blog-tags-show-d-2 div , .blog-tags-show-d-2 p {
  margin-bottom: .5rem;
}
.blog-table-contents-table-td-page{
  width: 300px;
  height: 150px;

}
.blog-pages-detail-img-l-tableData{
  position: relative;
}
.blog-pages-detail-img-l-tableData::before{
  content: "";
    display: block;
    
  padding-top: calc(100% / (16 / 8)) !important;
}
.blog-btn-read{
  color: #fff;
  border: #EEEEEE 2px solid;
  background-color: #21A371;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.blog-btn-download-pdf{
  cursor: pointer;
}
.blog-head-writer-pages-profile-div{
  position: relative;
  height: 70px;
}
.blog-slide-data{
  color: #000;

}
.blog-slide-data.active{
  color: #000;
  border: #EEEEEE 2px solid;
  border-radius: 8px;

}
.blog-reply-btn{
  cursor: pointer;
  width: max-content;
}
.blog-comment-component-item-b .blog-comment-component-item-repry{
 display: none ;
}
.blog-comment-component-item-b.active .blog-comment-component-item-repry{
 display: flex !important;
}
.blog-comment-btn-edit{
  cursor: pointer;
}
.blog-table-contents .dropdown-item.active{
  background-color: #EEEEEE;
}
.blog-pop .btn-group>.btn{
  border: #eeee 2px solid;
}
.blog-pop .btn-group>.btn.active{
  border: #E9C869 2px solid;
}
.blog-pop .btn-group>.btn:hover{
  border: #E9C869 2px solid;
}
.blog-pop ul.pagination li{
  background-color: #fff;
}
.blog-pop ul.pagination li.active{
  background-color: #E9C869;
  border: 1px solid #E9C869;

}
.blog-pop ul.pagination li a {
  color: #000;
  padding: 0.5rem 0.75rem;
  display: inline-block;

}
.blog-pop ul.pagination li {
  border: 2px #EEEEEE solid;
  border-radius: 8px;
  margin: 0 3px;
 
   
}
.blog-pop ul.pagination li a:focus {
 outline: unset !important;

}
.blog-pop ul.pagination li.active>a{
   color: #fff; 
}
.blog-text-active{
  color: #E9c869;
}
.blog-form:focus{
  border-color: #E9c869 !important;
}
.blog-from-btn{
  border-color: #E9c869 !important;
  color: #fff;
  background-color: #E9c869;
}
.blog-from-btn:hover , .blog-from-btn:focus, .blog-from-btn:active{
color: #e9c869 !important;
background-color: #FBF4E1 !important;
}.blog-modal-like1 .modal-sm {
    max-width: 400px !important;
}
.blod-d-flex{
  display: flex !important;
}
.blog-detail-story-detail-card-btn-h{
  
  background-color: #c8ac57;
  border-color: #c8ac57;
  transition: .5s;
}
.blog-grid-col-2-row2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr .5fr .5fr;
  /* grid-template-areas:
   "  blog-grid-item3"
   "  blog-grid-item4"
   "  blog-grid-item5"
  ; */
}
.blog-grid-item1{
  /* grid-area: blog-grid-item1;*/
  grid-column: 1/3;
  grid-row: 1/3;
} 
.blog-grid-item2{
  /* grid-area: blog-grid-item2; */
  grid-column: 1/3;
  grid-row: 2/4;
}
.blog-grid-item3{
  /* grid-area: blog-grid-item3; */
  grid-column: 3;
  grid-row: 1;
}
.blog-grid-item4{
  /* grid-area: blog-grid-item4; */
  grid-column: 3;
  grid-row: 2;
}
.blog-grid-item5{
  /* grid-area: blog-grid-item5; */
  grid-column: 2/4;
  grid-row: 3;
}
.blog-image-cropper {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: #e9c869 2px solid; 
}
.blog-image-cropper img{

display: inline;
margin: 0 auto;
object-fit: cover;
}
.blog.popup-container {
  top: 50px !important;
}
.blog-new{
  animation-name: myNew;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes myNew{
0%
{
   background-color: #21A371; 
   height: 0;
   color: #fff;
  /*  border-radius: 8px; */
}
80%{
  background-color: #21A371;
   color: #fff;
  /*border-radius: 8px; */
}
100%
{
  height: 100%;
    background-color: #fff;
    color: #000;
}
}
.blog-alert-font{
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  background-color: #222;
  color: #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  perspective: 1000px;
  opacity: 0;
  transform-origin: bottom left;
  transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
  transition: all 450ms cubic-bezier(0, 0.6, 0.35, 1.4);
}
.blog-alert-font.active{
  opacity: 1;
  transform: rotate(0deg) scale(1);
}
@media (max-width: 1200px){
  .blod-lg-d-none{
    display: none;
  }
  .blod-lg-d-flex{
    display: flex !important;
  }
  .blod-lg-d-table-cell{
    display: table-cell !important;
  }
  .blod-lg-d-w-0{
    transition: 2s;  
    width: 0 !important;
    height: 0 !important;
  }
 
  
  .blod-lg-filter{
    
    background-color: #FFFFFF;
    
    animation-name: blogfilterof;
    animation-duration:.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* transform: translateX(-150%);*/
    

   
  }
  .blod-lg-filter-on{
    display: flex;
    /* transition: .6s;
    transform: translateX(0%); */
    animation-name: blogfilteron;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes blogfilteron {
    0%{
      transform: translateX(-150%);
      opacity: 0;
    }
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
    
  }
  @keyframes blogfilterof {
    0%{
      transform: translateX(0%);
    
    }
    100%{
     transform: translateX(-150%);
    
 
    }
    
  }
  .blog-grid-col-2-row2{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-template-areas:
     "blog-grid-item1 blog-grid-item1"
     "blog-grid-item2 blog-grid-item3"
     "blog-grid-item5 blog-grid-item4"
    ;
  }
  .blog-grid-item1{
    grid-area: blog-grid-item1;
  } 
  .blog-grid-item2{
    grid-area: blog-grid-item2;
  }
  .blog-grid-item3{
    grid-area: blog-grid-item3;
  }
  .blog-grid-item4{
    grid-area: blog-grid-item4;
  }
  .blog-grid-item5{
    grid-area: blog-grid-item5;
  }
  .blog-tags-show-d-2{
    right: unset !important;
    left: 0 !important;
  }
  .blog-table-contents-table-td-page{
    width: 40%;
  }
  .blog-detail-story-detail-card-body-l {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px){
  .blod-md-d-none{
    display: none;
  }
  .blog-table-contents-table-tr-date{
    width: 25%;
  }
  
}

.popup-container.notification {
  width: 450px;
  overflow: hidden;
}

.notification .popup-container-list .item {
  border-bottom: 1px #efefef solid !important;
}

.notification .popup-container-list .item:hover {
  background-color: #F8F9FA;
}

.notification .popup-container-list .item .item-body .item-content {
  flex-grow: 4;
}

.notification .popup-container-list .item .item-body .item-img {
  align-self: center;
  margin: 0 16px;
}

.notification .popup-container-list .item .item-body .item-img .item-inner-img {
  width: 80px;
  height: 80px;
  /* align-self: center; */
  display: flex;
  border: 2px solid #EEEEEE;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  justify-content: center;
  overflow: hidden;
}

.notification .popup-container-list .item .item-body .item-img img {
  max-width: 100%;
  height: 60px;
}



.popup-container {
  /* min-height: 450px;
height: 50vh;*/
  position: absolute;
  background-color: #fff;
  z-index: 100;
  right: 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(89, 89, 89, 0.16);
  -moz-box-shadow: 0px 0px 9px 0px rgba(89, 89, 89, 0.16);
  box-shadow: 0px 0px 9px 0px rgba(89, 89, 89, 0.16);
}

.popup-container-count {
  position: relative;
}

.popup-container-count>span {
  position: absolute;
  top: -1px;
  right: 3px;
  font-size: 12px;
  background: #EE5294;
  line-height: 0;
  width: 24px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}

.popup-container-list {
  height: auto;
  max-height: calc(50vh - 162px);
  width: 100%;
  overflow-y: auto;
}

.popup-container-list .item {
  border-bottom: 1px solid #efefef;
  position: relative;
  display: flex;
}

.popup-container-list .item:last-child {
  border-bottom: none;
}

.popup-container-list .item .item-remove {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999899;
  z-index: 2;
}

.popup-container-list .item .item-body {
  width: 100%;
  display: flex;
  padding: 16px;
  margin-right: 26px;
  min-height: 100px;
  align-items: center;
}

.popup-container-list .item .item-body .item-content {
  flex-grow: 2;
  flex-basis: 0;
  text-align: left;
  align-items: center;
  display: flex;
}

.popup-container-list .item .item-body .item-content p {
  margin: 0;
}

.popup-container-list .item .item-body .item-img {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  display: flex;
}

.popup-container-summary {
  padding: 24px 0;
  border-top: 1px solid #efefef;
}

.popup-container-footer {
  position: relative;
  bottom: 0;
  padding: 24px;
  border-top: 1px solid #efefef;
}
.notification a .item b {
  color: #000;
}

.notification a .item b.time {
  opacity: 0.8;
  font-size: 12px;
}

.notification a .item p {
  color: #999899;
  font-size: 14px;
  line-height: 1.2;
}

.notification .unread {
  background-color: #FFEFF5;
}

.unread-noti {
  background-color: #FFEFF5;
}

.notification .popup-container-list .item.unread:hover {
  background-color: #FCE1EC;
}
.blog-noti-img{
  max-width: unset !important;
  max-height: 100% !important;
  height: unset !important;
}
.notification .popup-container-list .item.blog-noti-list  .item-body .item-img .item-inner-img{
  border-color:#F2DEA5 !important;
}
.notification .blog-noti-list.unread {
  background-color: #FBF4E1 !important;
}
.notification .blog-noti-list.unread:hover {
  background-color: #F2DEA5 !important;
}
.notification .popup-container-list .item.return-noti  .item-body .item-img .item-inner-img{
  border-color:#ECA69D !important;
}
.notification .return-noti.unread {
  background-color: #F9E1DD !important;
}
.notification .return-noti.unread:hover {
  background-color: #ECA69D !important;
}
.noti-page .item.blog-noti-list .item-inner-img{

  justify-content: end;
    overflow: hidden;
    display: flex;
    padding: 0;
    border: 2px solid #F2DEA5  !important;
}
.noti-page .item.blog-noti-list.unread{
  background-color: #FBF4E1 !important;
}
.noti-page .blog-noti-list.unread:hover {
  background-color: #F2DEA5 !important;
}
.noti-page .item.return-noti .item-inner-img{
  border: 2px solid #ECA69D !important;
  

}
.noti-page .item.return-noti.unread{
  background-color: #F9E1DD !important;
}
.noti-page .item.return-noti.unread:hover {
  background-color: #ECA69D !important;
}
.notification .popup-container-list .item .item-body .item-img .item-inner-img{
  border-color: #FCE1EC !important;
}
.noti-page .item .item-inner-img{
  border: 2px solid #FCE1EC !important;
  

}
.blog-detail-story-detail-card-body-l .ck.ck-editor__editable_inline{
  overflow: unset !important ;
}
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred p , 
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred h1 , 
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred h2 , 
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred h3 , 
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred h4 ,
.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred h5
{
  line-height: 1.5;
} 
.blog-image-cropper.follow{
  width: 80px;
  height: 80px;
}
.blog-w-200px{
  width: 200px;
}
.blog-comment-emoji-btn{
  cursor: pointer;
  background-color:#fff;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  display: flex;
}
.blog-comment-emoji-card{
  position: absolute;
  border-radius: 8px;
  background-color: #fff;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 8px;
  z-index: 1;
  flex-wrap: wrap;
  height: 200px;
  overflow-y: auto;
}
.blog-comment-emoji-item{
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #fff;
  cursor: pointer;
  width: 34px;
  text-align: center;
}
.blog-comment-emoji-item:hover{
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blog-h-min {
 min-height: 410px;
}
.blog-h-min-l {
  min-height: 350px;
}