@media (min-width: 1200px) and (max-width: 1367px){
  .container {
    width: 1136px;
    max-width: 1136px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
  }
  .col-w-4-mb-2 {
    width: 50%;
  }
  .px-xl-2 {
    padding: 0;
  }
  .test-margin-bottom .mb-3 {
    margin-bottom: 16px !important;
  }
  .input-group {
    width: 95%;
 }
 .col-product-filter {
  flex: 0 0 25%;
  max-width: 25%;
}
.pt-carousel {
  padding-top: 8px;
}

.pb-carousel {
  padding-bottom: 8px;
}

.slide-con-detail>.slick-slider>.slick-prev {
  bottom: 0;
  top: 100%;
  left: unset;
  right: 0;
  transform: translate(-72px, 50px);
}

.slide-con-detail>.slick-slider>.slick-next {
  bottom: 0;
  top: 100%;
  left: unset;
  right: 0;
  transform: translate(-32px, 50px);
}
.slide-con-detail.home>.slick-slider>.slick-prev {
  bottom: 0;
  top: -48px;
  left: unset;
  right: 0;
  transform: translate(-56px, 50px);
}

.slide-con-detail.home>.slick-slider>.slick-next {
  bottom: 0;
  top: -48px;
  left: unset;
  right: 0;
  transform: translate(-16px, 50px);
}
.slickcardmin.recom .slick-list {
  height: 490px;
}

.type-2 .carousel-inner .height-img {
  height: 172px;
}

.carousel-inner .height-img {
  height: 360px;
}
}
@media (min-width: 1201px) {

  .d-block-1200-up {
    display: block;
  }

  .d-block-1200-down {
    display: none;
  }
  .border-left-register{
    border-left: 2px solid #eeeeee;
  }
}

@media (max-width: 1200px) {

  .d-block-1200-up {
    display: none;
  }

  .d-block-1200-down {
    display: block;
  }

}

@media (max-width: 1199px) and (min-width: 992px) {
  .slide-con-detail>.slick-slider>.slick-prev {
    bottom: 0;
    top: 100%;
    left: unset;
    right: 0;
    transform: translate(-72px, 50px);
  }

  .slide-con-detail>.slick-slider>.slick-next {
    bottom: 0;
    top: 100%;
    left: unset;
    right: 0;
    transform: translate(-32px, 50px);
  }
  .slide-con-detail.home>.slick-slider>.slick-prev {
    bottom: 0;
    top: -48px;
    left: unset;
    right: 0;
    transform: translate(-56px, 50px);
  }

  .slide-con-detail.home>.slick-slider>.slick-next {
    bottom: 0;
    top: -48px;
    left: unset;
    right: 0;
    transform: translate(-16px, 50px);
  }

  .box-show-account {
    margin-top: 16px;
  }

  .bg-profile {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .type-2 .carousel-inner .height-img {
    height: 144px;
  }

  .carousel-inner .height-img {
    height: 304px;
  }

  .set-shipping1 {
    border: 2px solid #EEEEEE;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
  }

  .set-shipping2 {
    border: 2px solid #EEEEEE;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
  }

  .set-shipping3 {
    border: 2px solid #EEEEEE;
    border-top: 2px dashed #EEEEEE;
    border-left: 2px solid #EEEEEE;
    border-right: none;
    border-bottom-left-radius: 8px;
  }

  .set-shipping4 {
    border: 2px solid #EEEEEE;
    border-top: 2px dashed #EEEEEE;
    border-left: 2px solid #EEEEEE;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 0px;
  }

}
@media (max-width:1200px) {
  .navbar-product-1200 {
    display: none;
  }

  .navbar-product-lower1200 {
    display: flex;
  }

  .text-account {
    font-size: 18px;
  }
  .pt-carousel {
    padding-top: 0rem;
}
}


@media (min-width: 1368px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-none {
    display: none !important;
  }

  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .col-xxl-1 {
    flex: 0 0 8.333%;
    max-width: 8.333%;
  }

  .col-xxl-2 {
    flex: 0 0 16.667%;
    max-width: 16.667%;
  }

  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-xxl-5 {
    flex: 0 0 41.66666666666667%;
    max-width: 41.66666666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xxl-8 {
    flex: 0 0 66.66666666666667%;
    max-width: 66.66666666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-xxl-11 {
    flex: 0 0 91.66666666666667%;
    max-width: 91.66666666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pl-xxl-2 {
    padding-left: 0.5rem !important;
  }

  .pr-xxl-2 {
    padding-right: 0.5rem !important;
  }

  .px-xxl-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .mt-xxl-0 {
    margin-top: 0 !important;
  }

  .text-account {
    font-size: 18px;
  }

  .slide-con-detail>.slick-slider>.slick-prev {
    bottom: 0;
    top: 100%;
    left: unset;
    right: 0;
    transform: translate(-72px, 50px);
  }

  .slide-con-detail>.slick-slider>.slick-next {
    bottom: 0;
    top: 100%;
    left: unset;
    right: 0;
    transform: translate(-32px, 50px);
  }
  .slide-con-detail.home>.slick-slider>.slick-prev {
    bottom: 0;
    top: -48px;
    left: unset;
    right: 0;
    transform: translate(-56px, 50px);
  }

  .slide-con-detail.home>.slick-slider>.slick-next {
    bottom: 0;
    top: -48px;
    left: unset;
    right: 0;
    transform: translate(-16px, 50px);
  }
}
@media (max-width:1200px){
	.main-layout{
		padding-top: 8px;
	}
}