.notification-transfer-nav-change{
    background: #FDE6E3;
    padding: 8px 16px;
    display: flex;
    color: #DE6B5C;
}
.line-track-orange{
    margin-top: 20px;
    min-height: 46px;
    width: 1px;
    background-color: #F8D2D4 ;
}
.on-track-orange {
    background-color: #DE6B5C;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 4px solid #F8D2D4;
    margin-left: -28px;
    margin-right: 16px;
    margin-top: 4px;
}
.text-orange{
    color: #DE6B5C;
}
.btn-orange{
    background-color: #DE6B5C;
}
.chacge-check .radio-collapse.custom-radio .custom-control-input:checked~.custom-control-label{
    background-color: #FDE6E3;
    height: unset;
}
.chacge-check .radio-collapse.custom-radio .custom-control-label::before,.chacge-check  .radio-collapse.custom-radio .custom-control-label::after{
    right: unset;
    left: 20px;
}
.chacge-check .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url('/mobile/image/icon/icon-radiocircle-orange.svg');
}
.chacge-check .radio-collapse.custom-radio .custom-control-label{
    height: unset;
}
.form-control.form-change{
    width: 56px;
    padding-left: 15px !important;
}
.form-control.form-change:focus{
    outline: unset;
    box-shadow: unset;
    border-color: #ced4da;
}
.change-form select{
    background: url('/mobile/image/icon/icon-arrow-down-orange.svg') no-repeat right 50%;
}
.return-noti .product-in-cart-pic {
    border: 2px solid #ECA69D !important;
}
.return-noti.bg-notification-unread{
    background-color: #F9E1DD !important;
    
}
.return-noti.bg-notification-unread:hover{
    background-color: #ECA69D !important;
}

.blog-noti-list .product-in-cart-pic {
    border: 2px solid #F2DEA5 !important;
    overflow: hidden;
}
.blog-noti-img{
    max-width: unset !important;
    max-height: 100% !important;
    height: unset !important;
    padding: unset !important;
}
.blog-noti-list.bg-notification-unread{
    background-color: #FBF4E1  !important;
    
}
.blog-noti-list.bg-notification-unread:hover{
    background-color: #F2DEA5 !important;
}