.bg-step {
    background-color: #EEEEEE;
    margin-top: -1rem;
    position: relative;
    z-index: 1;
}

.progressbar {
    counter-reset: step;
    margin-top: 1rem;
    padding: 0;
}

.progressbar li {
    list-style-type: none;
    width: 30%;
    /* float: left; */
    font-size: 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 24px;
    border: 4px solid #FFF;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #999899;
}

.progressbar li:after {
    width: 100%;
    height: 4px;
    content: '';
    position: absolute;
    background-color: #FFF;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #FFF;
}

.progressbar li.active:before {
    border-color: #FFF;
    background-color: #EE5294;
}

.progressbar li.active+li.active:after {
    background-color: #EE5294;
}

.progressbar li span {
    color: #999899;
}

.progressbar li.active span {
    color: #000;
}
.radio-button__input {
    opacity: 0;
    position: absolute;
}

.radio-button__control {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-left: -4px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #555559;
    border-radius: 24px;
    cursor: pointer;
}

.radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    background-color: #EE5294;
    border-radius: 12px;
}

.radio-button__input:checked+.radio-button__control {
    border-color: #555559;
}

.radio-button__control {
    transform: scale(0.75);
}

.radio-button__label {
    margin-top: 2px;
    position: absolute;
    cursor: pointer;
}

.radio-button span {
    cursor: pointer;
}

.card-alliance.seller img {
    border-radius: 50%;
    overflow: hidden;
}